<?xml version="1.0" ?>
<System openmmVersion="7.7" type="System" version="1">
	<PeriodicBoxVectors>
		<A x="2" y="0" z="0"/>
		<B x="0" y="2" z="0"/>
		<C x="0" y="0" z="2"/>
	</PeriodicBoxVectors>
	<Particles>
		<Particle mass="15.99943"/>
		<Particle mass="1.007947"/>
		<Particle mass="1.007947"/>
	</Particles>
	<Constraints>
		<Constraint d=".09572" p1="0" p2="1"/>
		<Constraint d=".09572" p1="0" p2="2"/>
		<Constraint d=".15139006545247014" p1="1" p2="2"/>
	</Constraints>
	<Forces>
		<Force alpha="0" cutoff=".9" dispersionCorrection="1" ewaldTolerance=".0005" exceptionsUsePeriodic="0" forceGroup="0" includeDirectSpace="1" ljAlpha="0" ljnx="0" ljny="0" ljnz="0" method="0" name="NonbondedForce" nx="0" ny="0" nz="0" recipForceGroup="-1" rfDielectric="78.3" switchingDistance=".8" type="NonbondedForce" useSwitchingFunction="1" version="4">
			<GlobalParameters/>
			<ParticleOffsets/>
			<ExceptionOffsets/>
			<Particles>
				<Particle eps=".6363864000000001" q="0" sig=".31506999999999996"/>
				<Particle eps="0" q="0" sig=".09999999999999999"/>
				<Particle eps="0" q="0" sig=".09999999999999999"/>
			</Particles>
			<Exceptions>
				<Exception eps="0" p1="0" p2="1" q="0" sig="1"/>
				<Exception eps="0" p1="0" p2="2" q="0" sig="1"/>
				<Exception eps="0" p1="1" p2="2" q="0" sig="1"/>
			</Exceptions>
		</Force>
		<Force forceGroup="0" name="PeriodicTorsionForce" type="PeriodicTorsionForce" usesPeriodic="0" version="2">
			<Torsions/>
		</Force>
		<Force forceGroup="0" name="HarmonicAngleForce" type="HarmonicAngleForce" usesPeriodic="0" version="2">
			<Angles/>
		</Force>
		<Force forceGroup="0" name="HarmonicBondForce" type="HarmonicBondForce" usesPeriodic="0" version="2">
			<Bonds/>
		</Force>
		<Force aEwald="0" cutoffDistance="1" ewaldErrorTolerance=".0005" forceGroup="0" mutualInducedMaxIterations="60" mutualInducedTargetEpsilon="1e-05" nonbondedMethod="0" polarizationType="1" scaleFactor14="1" type="MPIDForce" version="0">
			<MultipoleParticleGridDimension d0="0" d1="0" d2="0"/>
			<ExtrapolationCoefficients c0="-.154" c1=".017" c2=".658" c3=".474"/>
			<MultipoleParticles>
				<Particle axisType="0" charge="-.834" damp="0" multipoleAtomX="-1" multipoleAtomY="-1" multipoleAtomZ="-1" polarizabilityXX=".000642" polarizabilityYY=".000642" polarizabilityZZ=".000642" thole="8">
					<Dipole dX="0" dY="0" dZ="0"/>
					<Quadrupole qXX="0" qXY="0" qXZ="0" qYY="0" qYZ="0" qZZ="0"/>
					<Octopole oXXX="0" oXXY="0" oXXZ="0" oXYY="0" oXYZ="0" oXZZ="6.4530306482049365e-307" oYYY="0" oYYZ="7.684672962381287e-43" oYZZ="6.497912238537583e-307" oZZZ="0"/>
					<Covalent12/>
					<Covalent13/>
					<Covalent14/>
					<Covalent15/>
					<PolarizationCovalent11/>
					<PolarizationCovalent12/>
					<PolarizationCovalent13/>
					<PolarizationCovalent14/>
				</Particle>
				<Particle axisType="0" charge=".417" damp="0" multipoleAtomX="-1" multipoleAtomY="-1" multipoleAtomZ="-1" polarizabilityXX=".000163" polarizabilityYY=".000163" polarizabilityZZ=".000163" thole="8">
					<Dipole dX="0" dY="0" dZ="0"/>
					<Quadrupole qXX="0" qXY="0" qXZ="0" qYY="0" qYZ="0" qZZ="0"/>
					<Octopole oXXX="0" oXXY="0" oXXZ="0" oXYY="0" oXYZ="0" oXZZ="0" oYYY="0" oYYZ="1.0857465827268645e-95" oYZZ="6.498108485378683e-307" oZZZ="0"/>
					<Covalent12/>
					<Covalent13/>
					<Covalent14/>
					<Covalent15/>
					<PolarizationCovalent11/>
					<PolarizationCovalent12/>
					<PolarizationCovalent13/>
					<PolarizationCovalent14/>
				</Particle>
				<Particle axisType="0" charge=".417" damp="0" multipoleAtomX="-1" multipoleAtomY="-1" multipoleAtomZ="-1" polarizabilityXX=".000163" polarizabilityYY=".000163" polarizabilityZZ=".000163" thole="8">
					<Dipole dX="0" dY="0" dZ="0"/>
					<Quadrupole qXX="0" qXY="0" qXZ="0" qYY="0" qYZ="0" qZZ="0"/>
					<Octopole oXXX="0" oXXY="0" oXXZ="0" oXYY="0" oXYZ="0" oXZZ="6.4530306482049365e-307" oYYY="0" oYYZ="7.684672962381287e-43" oYZZ="6.497912238537583e-307" oZZZ="0"/>
					<Covalent12/>
					<Covalent13/>
					<Covalent14/>
					<Covalent15/>
					<PolarizationCovalent11/>
					<PolarizationCovalent12/>
					<PolarizationCovalent13/>
					<PolarizationCovalent14/>
				</Particle>
			</MultipoleParticles>
		</Force>
	</Forces>
</System>
