<?xml version="1.0" ?>
<System openmmVersion="8.1.1" type="System" version="1">
	<PeriodicBoxVectors>
		<A x="2" y="0" z="0"/>
		<B x="0" y="2" z="0"/>
		<C x="0" y="0" z="2"/>
	</PeriodicBoxVectors>
	<Particles>
		<Particle mass="15.99943"/>
		<Particle mass="1.007947"/>
		<Particle mass="1.007947"/>
	</Particles>
	<Constraints/>
	<Forces>
		<Force alpha="0" cutoff=".9" dispersionCorrection="1" ewaldTolerance=".0005" exceptionsUsePeriodic="0" forceGroup="0" includeDirectSpace="1" ljAlpha="0" ljnx="0" ljny="0" ljnz="0" method="0" name="Nonbonded force" nx="0" ny="0" nz="0" recipForceGroup="-1" rfDielectric="78.3" switchingDistance=".8" type="NonbondedForce" useSwitchingFunction="1" version="4">
			<GlobalParameters/>
			<ParticleOffsets/>
			<ExceptionOffsets/>
			<Particles>
				<Particle eps=".6389151692355459" q="0" sig=".31897404781098154"/>
				<Particle eps="0" q="0" sig="1"/>
				<Particle eps="0" q="0" sig="1"/>
			</Particles>
			<Exceptions>
				<Exception eps="0" p1="0" p2="1" q="0" sig="1"/>
				<Exception eps="0" p1="0" p2="2" q="0" sig="1"/>
				<Exception eps="0" p1="1" p2="2" q="0" sig="1"/>
			</Exceptions>
		</Force>
		<Force forceGroup="0" name="PeriodicTorsionForce" type="PeriodicTorsionForce" usesPeriodic="0" version="2">
			<Torsions/>
		</Force>
		<Force forceGroup="0" name="HarmonicAngleForce" type="HarmonicAngleForce" usesPeriodic="0" version="2">
			<Angles>
				<Angle a="1.9527272143303327" k="836.8" p1="1" p2="0" p3="2"/>
			</Angles>
		</Force>
		<Force forceGroup="0" name="HarmonicBondForce" type="HarmonicBondForce" usesPeriodic="0" version="2">
			<Bonds>
				<Bond d=".1037789311313845" k="462750.4" p1="0" p2="1"/>
				<Bond d=".1037789311313845" k="462750.4" p1="0" p2="2"/>
			</Bonds>
		</Force>
		<Force aEwald="0" cutoffDistance=".9" ewaldErrorTolerance=".0001" forceGroup="0" mutualInducedMaxIterations="60" mutualInducedTargetEpsilon="1e-05" name="AmoebaMultipoleForce" nonbondedMethod="0" polarizationType="1" type="AmoebaMultipoleForce" version="4">
			<MultipoleParticleGridDimension d0="0" d1="0" d2="0"/>
			<ExtrapolationCoefficients c0="-.154" c1=".017" c2=".658" c3=".474"/>
			<MultipoleParticles>
				<Particle axisType="5" charge="-.6870676714866755" damp="0" multipoleAtomX="-1" multipoleAtomY="-1" multipoleAtomZ="-1" polarity=".0008987586822022096" thole="0">
					<Dipole d0="0" d1="0" d2="0"/>
					<Quadrupole q0="0" q1="0" q2="0" q3="0" q4="0" q5="0" q6="0" q7="0" q8="0"/>
					<Covalent12>
						<Cv v="1"/>
						<Cv v="2"/>
					</Covalent12>
					<Covalent13/>
					<Covalent14/>
					<Covalent15/>
					<PolarizationCovalent11>
						<Cv v="1"/>
						<Cv v="2"/>
						<Cv v="0"/>
					</PolarizationCovalent11>
					<PolarizationCovalent12/>
					<PolarizationCovalent13/>
					<PolarizationCovalent14/>
				</Particle>
				<Particle axisType="5" charge=".34353383574333773" damp="0" multipoleAtomX="-1" multipoleAtomY="-1" multipoleAtomZ="-1" polarity=".00012531035951495126" thole="0">
					<Dipole d0="0" d1="0" d2="0"/>
					<Quadrupole q0="0" q1="0" q2="0" q3="0" q4="0" q5="0" q6="0" q7="0" q8="0"/>
					<Covalent12>
						<Cv v="0"/>
					</Covalent12>
					<Covalent13>
						<Cv v="2"/>
					</Covalent13>
					<Covalent14/>
					<Covalent15/>
					<PolarizationCovalent11>
						<Cv v="0"/>
						<Cv v="2"/>
						<Cv v="1"/>
					</PolarizationCovalent11>
					<PolarizationCovalent12/>
					<PolarizationCovalent13/>
					<PolarizationCovalent14/>
				</Particle>
				<Particle axisType="5" charge=".34353383574333773" damp="0" multipoleAtomX="-1" multipoleAtomY="-1" multipoleAtomZ="-1" polarity=".00012531035951495126" thole="0">
					<Dipole d0="0" d1="0" d2="0"/>
					<Quadrupole q0="0" q1="0" q2="0" q3="0" q4="0" q5="0" q6="0" q7="0" q8="0"/>
					<Covalent12>
						<Cv v="0"/>
					</Covalent12>
					<Covalent13>
						<Cv v="1"/>
					</Covalent13>
					<Covalent14/>
					<Covalent15/>
					<PolarizationCovalent11>
						<Cv v="0"/>
						<Cv v="1"/>
						<Cv v="2"/>
					</PolarizationCovalent11>
					<PolarizationCovalent12/>
					<PolarizationCovalent13/>
					<PolarizationCovalent14/>
				</Particle>
			</MultipoleParticles>
		</Force>
	</Forces>
</System>
